*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-size: 100% 100%;
    background-attachment: fixed; 
    background-color: #202020;
}

h1,h2,h3,h4,h5,h6{
    color:yellow;
}

/*--------------------- Header ---------------------*/

nav{
    background: #101011;
    height: 80px;
    width: 100%;
    position:fixed;
	z-index:1000;
}

.logo{
    width: 180px;
    height: 70px;
    margin: auto;
    line-height: 80px;
    padding: 2px;
    padding-left: 20px;
    padding-top: 10px;
    color: yellow;
    font-size: 35px;
}

ul{
    position: fixed;
    width: 100%;
    height: 100%;
    background:black;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    display: block;
    z-index: 1;
}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

nav ul li a{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:hover, a.active{
    color: yellow;
    text-decoration: none;
    transition: .5s;  
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;  
    display: block;
}
#check{
    display: none; 
}

#check:checked ~ ul{
    left: 0;
}

/*--------------------- Carrousel ---------------------*/

.carousel{
    position: relative;
    display: block;
    z-index: 0;
    padding-top: 30px;
}

.carousel-item img{
    height: 350px;
    width: 100%;
}

.carousel .carousel-caption{
    background-color: rgba(20,20,20,0.5) ;
    border-radius: 45px;
}

/*--------------------- Welcome  ---------------------*/
.flexbox-container{
    background: #202020;
    color:white;
    padding: 25px;
}
.flexbox-container h1{
    font-size: 25px;
}
.flexbox-container img{
    display: block;
    margin: auto;
    width:250px;
    height: 250px;
}

/*--------------------- Services ---------------------*/
.services{
    color: white;
}

.services .card{
    width: 99%;
}

h2{
    text-align: center;
}

.services p{
    text-align: center;
}

.services .d-flex{
    background-color: #202020;
}

.services .card{
    background-color: #202020;
}

.services .card p{
    text-align: justify;
}

.services a {
    background-color: #202020;
    border:2px solid yellow;
    box-shadow: 0px 3px 8px rgba(246, 210, 7, 0.4);
}

.services a:hover{
    background:#FFE52F;
    border:2px solid yellow;
    color: black;
}
/*---------------------  MarksCa ---------------------*/
.marksCarrusel .carousel-item img{
    height: 400px;
}

/*---------------------  Galery  ---------------------*/
.card{
    background-color: #202020;
}

.card-header{
    background-color: black;
}

.mb-0{
    background-color: black;
}

.mb-0 button{
    color: yellow;
}

.mb-0 button:hover{
    color: #FFE52F;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 0, 0.8);
    text-decoration: none;
}

.mb-0 button:focus{
    box-shadow: 0 0 0 .2rem rgba(250, 246, 9, 0.555);
    text-decoration: none;
}

.figure{
    width: 99%;
}

.figure-caption{
    color: rgb(200,150,0);
}
/*---------------------     We   ---------------------*/
/*---------------------  Contact ---------------------*/
.contenedor{
    width: 100%;
    background:#202020;
    padding: 40px;
    margin: 40px auto;
}
.contenedor h1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
    color: yellow;
}
.contenido{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.formulario input[type='text'],
    .formulario textarea{
        width: 100%;
        margin-bottom: 15px;
        padding: 12px 20px;
        border: 1px solid #999;
        color: #999;
        font-family: sans-serif;
        font-weight: 400;
        outline: 0;
    }
    .formulario input[type='text']:focus,
    .formulario textarea:focus{
        border: 3px solid yellow;
    }
    .formulario button{
        padding: 12px 30px;
        border: transparent;
        background:yellow;
        color: black;
        cursor: pointer;
        float: right;
        border-radius: 10%;
    }
    /*---------------------  footer---------------------*/
    footer {
        width: 100%;
        background: black;
        color: white;
        max-width: 1650px;
        margin: auto;
        padding: 40px;
      }
      
      .contenedor1 {
        flex-wrap: wrap;
      }
      .column--redes .column--contactos {
        margin-top: 40px;
      }
      footer h2 {
        margin-top: 20px;
        font-size: 22px;
       
      }
      
      footer img {
        width: 36px;
        height: 36px;
      }
      
      .column--redes a {
        font-size: 15px;
        margin-top: 10px;
        color: #c7c7c7;
        margin-left: 20px;
      }
      
      .column--redes .row {
        margin-top: 20px;
        display: flex;
        margin-left: auto;
      }
      .row2 {
        margin-top: 20px;
        display: flex;
      }
      
      .row2 p {
        margin-top: 10px;
        margin-left: 20px;
        max-width: 140px;
      }
   


@media screen and (max-width: 715px) {
    .info{
    display:none;
    }
    .contenedor1 {
        flex-wrap: wrap;
      }
    }

@media  (min-width: 858px){

    /*--------------------- Header ---------------------*/

    .logo{
        width: 250px;
        height: 80px;
        margin: auto;
        line-height: 80px;
        padding: 2px;
        padding-left: 20px;
    }

    ul{
        position: relative;
        width: 70%;
        height: 100%;
        background:  #101011;
        top: 0px;
        left: 0%;
        text-align: right;
        transition: all .0s;
        float: right;
    }
    
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    nav ul li a{
        color: white;
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .checkbtn{
        display: none;    
    }

    /*--------------------- Carrousel ---------------------*/
    .img{
        height: 300px;
        width: 100%;
    }
    .carousel-item img{
        width: 100%;
        height: 400px;
    }

    /*--------------------- Welcome  ---------------------*/
    .flexbox-container h1{
        margin-top: 50px;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .flexbox-container img{
        width: 400px;
        height: 300px;
        margin-left: 80px;
       
    }
    .flexbox-container{
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
    }
    .flexbox-container > div {
        width: 50%;
        padding: 20px;
    }
    
    .flexbox-container > div:first-child {
        margin-right: 20px;
    }
    
        
    /*--------------------- Services ---------------------*/
    .services .card{
        width: 33.33%;
    }
    /*---------------------  MarksCa ---------------------*/
    /*---------------------  Galery  ---------------------*/
    .figure{
        width: 33.33%;
    }
    /*---------------------     We   ---------------------*/
    /*---------------------  Contact ---------------------*/
    .contenedor__all{
        background:#202020;
    }
    .contenedor{
        width: 85%;
        background:#202020;
        padding: 40px;
        margin: 40px auto;
    }
    .contenedor h1{
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
        color: yellow;
    }
    .contenido{
        display: flex;
        width: 100%;
        overflow: hidden;
    }
    .contenido .info,
    .contenido .formulario{
        width: 50%;
    }
    
    /*--------------------- estilos Info ---------------------*/
    /*--------------------- ---------------------*/
    .info{
        padding-left: 60px;
        margin-top: 40px;
    }
    
    .info .col{
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        font-size: 25px;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    .info .col .icono{
        color: yellow;
        margin-right: 30px;

    }
    
    .info .col p{
        color:white;
        margin-top: 3px;
        font-size: 20px; 
    }

    .info .redes-s{
        width: 100%;
        overflow: hidden;
        padding-left: 25px;
        display: flex;
        flex-wrap: wrap;
    }
    .info .redes-s a{
        display: flex;
        width: 50px;
        height: 50px;
        color: snow;
        margin: 20px;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        border-radius: 50%;
        border:2px solid yellow;
        box-shadow: 0px 3px 8px rgba(246, 210, 7, 0.4);
    }
    .redes-s img{
        width: 30px;
        height: 30px;
        
    }
    .info .redes-s a:hover{
        background:#FFE52F;
    
    }
    /*--------------------- Estilos Formulario ---------------------*/
    /*--------------------- ---------------------*/
    .formulario{
        padding-left: 10px;
    }
    .formulario input[type='text'],
    .formulario textarea{
        width: 100%;
        margin-bottom: 15px;
        padding: 12px 20px;
        border: 1px solid #999;
        color: #999;
        font-family: sans-serif;
        font-weight: 400;
        outline: 0;
    }
    .formulario textarea{
        max-width: 100%;
        min-width: 100%;
        min-height: 150px;
        max-height: 200px;
    
    }
    .formulario input[type='text']:focus,
    .formulario textarea:focus{
        border: 3px solid yellow;
    }
    .formulario button{
        padding: 12px 30px;
        border: transparent;
        background:yellow;
        color: black;
        cursor: pointer;
        float: right;
        border-radius: 10%;
    }
    /*---------------footer-------------*/
    .contenedor1 {
        display: flex;
        justify-content: space-between;
      }
      .column--informacion {
        max-width: 400px;
      }
    
      .column--informacion p {
        font-size: 14px;
    
        margin-top: 20px;
      }
      .column--redes {
        font-size: 22px;
      }
      .column--redes {
        max-width: 400px;
      }
      .column--contactos {
        max-width: 400px;
      }
}
