*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   
}
body{
    font-family: sans-serif;
    background: url(../img/fondo.jpg) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
}
nav{
    background: #101011;
    height: 80px;
    width: 100%;
}

.logo{
    width: 250px;
    height: 80px;
    margin: auto;
    line-height: 80px;
    padding: 2px;
    padding-left: 20px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;  
    display: none;
}
#check{
    display: none; 
}
@media (max-width: 952px){
    .logo{
        
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    
    .logo{
        padding-top: 10px;
        width: 180px;
        height: 70px;
        
    }
    .checkbtn{
        display: block;    
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }

}
