*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-size: 100% 100%;
    background-attachment: fixed; 
}
nav{
    background: #101011;
    height: 80px;
    width: 100%;
}

img{
    height: 600px;
    width: 100%;
}

.logo{
    width: 180px;
    height: 70px;
    margin: auto;
    line-height: 80px;
    padding: 2px;
    padding-left: 20px;
    padding-top: 10px;
}

ul{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    display: block;
    z-index: 1;
}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

nav ul li a{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:hover,a.active{
    background: none;
    color: #0082e6;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;  
    display: block;
}
#check{
    display: none; 
}

#check:checked ~ ul{
    left: 0;
}

.carousel{
    position: relative;
    display: block;
    z-index: 0;
}

@media (min-width: 858px){
    .logo{
        width: 250px;
        height: 80px;
        margin: auto;
        line-height: 80px;
        padding: 2px;
        padding-left: 20px;
    }

    ul{
        position: relative;
        width: 70%;
        height: 100%;
        background:  #101011;
        top: 0px;
        left: 0%;
        text-align: right;
        transition: all .0s;
        float: right;
    }
    
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    nav ul li a{
        color: white;
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
    }

    a.active,a:hover{
        background: #1b9bff;
        transition: .5s;
    }

    .checkbtn{
        display: none;    
    }

}